/* Top level styling */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 400;
}

.App {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: center center;
}

.widget-container {
  position: fixed;
  width: 50%;
  height: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#topLeft {
  top: 0;
  left: 0;
  padding-left: 8%;
  padding-right: 2%;
}

#topRight {
  top: 0;
  left: 50%;
  padding-right: 8%;
  padding-left: 2%;
}

#bottomLeft {
  top: 50%;
  left: 0;
  padding-left: 8%;
  padding-right: 2%;
}

#bottomRight {
  top: 50%;
  left: 50%;
  padding-right: 8%;
  padding-left: 2%;
}

h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.twitter-widget a,
.news-widget a {
  text-decoration: none;
  color: rgb(27, 25, 39);
  display: grid;
  margin: 1%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 10% 10% 10% 10%;
  font-size: 1.5vh;
}

/* Like button */
.background-btns {
  z-index: 1000;
  position: absolute;
  top: 85%;
  left: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i.fa.fa-envelope-open, {
  font-size: 4vh;
  color: whitesmoke;
  margin: 10%;
  text-shadow: grey 1px 1px 10px;
}

.like-logo i {
  font-size: 4vh;
  color: whitesmoke;
  margin-bottom: 10%;
  padding: 30% 0;
  text-shadow: grey 1px 1px 10px;
}

.refresh-logo i {
  font-size: 4vh;
  color: whitesmoke;
  margin-bottom: 5%;
  padding: 30% 0;
  text-shadow: grey 1px 1px 10px;  
}

.fa:hover {
  color: rgb(224, 224, 224);
  cursor: pointer;
} 

/* General widget styling */

.news-widget,
.event-widget,
.email-widget,
.calendar-widget,
.todo-widget,
.twitter-widget {
  background-color: rgba(250, 250, 250, 0.1);
  box-shadow: -10px 10px 50px black;
  color: rgb(27, 25, 39);
  font-weight: 100;
  width: 88%;
  padding: 2.5%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.info-widget {
  color: rgb(24, 24, 24);
  text-shadow: black 2px 2px 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* Email / Calendar / News widgets */

.event-container,
.email-container,
.article-block
{
  padding: 2% 0;
  border-bottom: 1px solid rgb(27, 25, 39);
}

.email-container fa {
  font-size: 1.5vh;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  text-shadow: grey 1px 1px 10px;
}

.event-container,
.email-container {
  margin-bottom: 2%;
}


.email-link {
  text-decoration: none;
  color: rgb(27, 25, 39);
}

.calendar-widget h2,
.calendar-widget h3,
.calendar-widget h4 {
  margin: 0.5vh;
}

.calendar-widget p,
.email-widget p {
  font-size: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 0.5vh
}

.email-container i {
  font-size: 2vh;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  text-shadow: grey 1px 1px 10px;
}

.calendar-widget a {
  text-decoration: none;
  color: white;
  display: grid;
  margin: 0;
  padding: 0;
}

/* News widget */

.category-selector label {
  font-size: 1.5vh;
}

.article-image-box {
  height: 7vh;
  width: 14vh;
  grid-row: 1 / span 2;
}

.article-image {
  height: 7vh;
  width: 100%;
  overflow: hidden;
}

.article-title {
  margin-left: 10%;
  grid-row: 2 / 1;
  font-weight: bold;
}

.article-source {
  margin-left: 10%;
  grid-row: 2 / 2;
}

.article-source,
.article-title {
  float: left;
  font-size: 1.7vh;
}

.news-settings h4 {
  display: inline;
}

.news-settings h3 {
  display: inline-block;
  margin-right: 60%;
}

.news-articles h3 {
  display: inline;
  margin-right: 50%;
}

.settings {
  margin-top: 2%;
}

.news-settings label {
  display: block;
}

.category-selector {
  float: left;
  width: 50%;
}

.country-selector {
  float: left;
  width: 50%
}

/* Twitter widget */

.twitter-widget button {
  margin-left: 40%;
  border: solid 0.1vh rgb(27, 25, 39);
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Josefin Sans', sans-serif;
  padding: 1%;
}

.twitter-widget h2{
  display: inline-block;
}

.twitter-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Josefin Sans', sans-serif;
  padding: 18%;
}

.twitter-sign-in button {
  margin: 0;
  padding: 14%;
  font-size: 2vh;
}

.tweet-container {
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 20px 0;
  grid-column-gap: 0.5em;
  border-bottom: solid 0.1vh rgb(27, 25, 39);
  padding: 10px 0;
}

.tweet-name {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: bold;
}

.tweet-text {
  font-size: 0.7em;
  margin: 10px 0;
  width: 100%;
  text-decoration: none;
  display: block;
}

.tweet-container a {
  display: block;
}

.tweet-name,
.tweet-container .tweet-text {
  font-size: 2vh;
}

.tweet-screename {
  font-size: 1.8vh;
}

/* Todo widget */

.todo-widget {
  position: relative;
}

.todo-footer {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.filter-option:hover {
  cursor: pointer;

}

.todo-widget {
  font-weight: 600;
}

.todo-input {
  text-align: center;
}

.todo-input input {
  width: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid 0.1vh rgb(27, 25, 39);
}

.todo-input button,
.news-articles button,
.news-settings button {
  margin-left: 4%;
  border: solid 0.1vh rgb(27, 25, 39);
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Josefin Sans', sans-serif;
  padding: 1%;
}

.todo-input button:hover,
.news-articles button:hover,
.news-settings button:hover,
.twitter-widget button:hover {
  cursor: pointer;
}

.todo-input button:focus,
.todo-input input:focus,
.news-articles button:focus,
.news-settings button:focus,
.twitter-widget button:focus {
  outline: none;
}

.todo-list {
  margin: 5% 0;
}

/* Side bar and burger button */

.bm-burger-button {
  height: 30px; 
  width: 36px; 
  position: fixed; 
  z-index: 1000; 
  top: 5%; 
  left: 95%;
}

.bm-burger-bars {
  background: white;
  box-shadow:  grey 1px 1px 10px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: whitesmoke;
}

.side-bar-top, 
.side-bar-bottom {
  height: 50%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.side-bar-bottom {
  text-align: center;
}

.side-bar-bottom button {
  width: 40%;
}

#auth-status {
  margin-top: 10%;
}

/* Info widget */ 

.info-widget {
  text-align: center;
}

.info-widget h2 {
  margin: 0;
}

.weather-box {
  margin-bottom: 10px;
}

.weather-box img {
  height: 25%;
  width: 25%;
}

.weather-box > * {
  padding: 5px 0;
}

.time-box {
   padding: 20px 0;
   font-size: 1.5em;
}

