/* Top level styling */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: center center;
}

.widget-container {
  position: fixed;
  width: 50%;
  height: 50%;
  padding: 1.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#NW {
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 255, 0.03); */
}

#NE {
  top: 0;
  left: 50%;
  /* background-color: rgba(255, 0, 0, 0.03); */
}

#SW {
  top: 50%;
  left: 0;
  /* background-color: rgba(255, 255, 0, 0.03); */
}

#SE {
  top: 50%;
  left: 50%;
  /* background-color: rgba(0, 128, 0, 0.03); */
}

h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  display: grid;
  margin: 1%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 10% 10% 10% 10%;
  font-size: 2.1vh;
}

/* Like button */
.background-btns {
  z-index: 1000;
  position: absolute;
  top: 90%;
  left: 95%;
}

.refresh-logo i {
  font-size: 4vh;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  text-shadow: grey 1px 1px 10px
}

.like-logo i {
  font-size: 4vh;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  text-shadow: grey 1px 1px 10px
}

.fa:hover {
   box-shadow: 0 0 10px rgb(255, 0, 0);
} 

/* General widget styling */

.event-widget,
.email-widget,
.calendar-widget,
.todo-widget,
.news-widget,
.twitter-widget {
  color: rgb(230, 230, 230);
  background-color: rgba(0, 0, 0, 0.55);
  padding: 2.5%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.info-widget {
  color: rgb(230, 230, 230);
  background-color: rgba(0, 0, 0, 0.55);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* Email / Calendar / News widgets */

.event-container,
.email-container,
.article-block {
  padding-bottom: 2%;
  border-bottom: 1px solid white;
}

.event-container,
.email-container {
  margin-bottom: 2%;
}


.calendar-widget p,
.email-widget p {
  font-size: 10px;
  margin-bottom: 1%;
}

.email-container i {
  font-size: 2vh;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  text-shadow: grey 1px 1px 10px;
}


/* News widget */

.category-selector label {
  font-size: 1.5vh;
}

.article-image-box {
  height: 7vh;
  width: 14vh;
  grid-row: 1 / span 2;
}

.article-image {
  height: 7vh;
  width: 100%;
  overflow: hidden;
}

.article-title {
  margin-left: 1%;
  grid-row: 2 / 1;
}

.article-source {
  margin-left: 1%;
  grid-row: 2 / 2;
}

.article-source,
.article-title {
  float: left;
  font-size: 2vh;
}

/* Twitter widget */

.tweet-container {
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 20px 0;
  grid-column-gap: 0.5em;
  border-bottom: 1px solid whitesmoke;
  padding: 10px 0;
}

.tweet-name {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: bold;
}

.tweet-text {
  font-size: 0.7em;
  margin: 10px 0;
  width: 100%;
  text-decoration: none;
  display: block;
}


/* Todo widget */

.filter-option:hover {
  background-color: greenyellow;
  color: black;
}


/* Side bar and burger button */

.bm-burger-button {
  height: 30px; 
  width: 36px; 
  position: fixed; 
  z-index: 1000; 
  top: 36px; 
  left: 36px;
}

.bm-burger-bars {
  background: gray;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: whitesmoke;
}

.side-bar-top, 
.side-bar-bottom {
  height: 50%;
  width: 100%;
  background-color: grey;
}

/* Info widget */ 

.info-widget {
  text-align: center;
}

.info-widget h2 {
  margin: 0;
}

.weather-box {
  margin-bottom: 10px;
}

.weather-box img {
  height: 25%;
  width: 25%;
}

.weather-box > * {
  padding: 5px 0;
}

.time-box {
   padding: 20px 0;
   font-size: 1.5em;
}



